<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GetRequest-AllTests">
	<test name="My Test">
		<classes>
			<class name="com.testautomation.TestRunner.TestRunner" />
			<class name="com.testautomation.TestRunner.TestRunner2" />
			<class name="com.testautomation.TestRunner.TestRunner3" />
			<class name="com.testautomation.TestRunner.TestRunner4" />
			<class name="com.testautomation.TestRunner.TestRunner5" />
		</classes>
	</test> <!-- Test -->
	<listeners>
		<listener
			class-name="com.testautomation.Listeners.iTestListenerImpl"></listener>
	</listeners>
</suite> <!-- Suite -->
